nav.navbar.navbar-default(role="navigation")
  a.navbar-brand(href="#") 
    strong Let's
  ul.nav.navbar-nav.navbar-right
    li
      a(href="#")
        span.glyphicon.glyphicon-wrench
    li
      a(href="#")
        span.glyphicon.glyphicon-user
.main.container
  #header
  #addEvent
  hr
  #events.well
