doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/letsdoit/stylesheets/style.css')
    link(rel='stylesheet', href='/letsdoit/bower_components/bootstrap/dist/css/bootstrap.css')
    script(src="/letsdoit/bower_components/requirejs/require.js", data-main="/letsdoit/javascripts/main.js")
  body!= body
