.container
  .header
  .row
    .col-md-8.jumbotron
      h1 HatchIt 
        small Do more, together
      p.lead HatchIt helps you do and plan more of the things you want with others.  Plan a party, a trip to your favorite city, start a book club or just keep track of movies you'd like to see.  Invite others to come along.
    .col-md-4
      .row
        .col-md-12
          a(href="#") 
            img.img-responsive(src="images/sign-in-with-google.png")
      .row
        .col-md-12
          a(href="#")
            img.img-responsive(src="images/sign-in-with-twitter-gray.png")
      .row
        .col-md-12
          a(href="#") Login with Facebook
  .footer
