<div class="innerActivity col-md-12">
  <div class="activityHeader col-md-12">
    <button type="button" class="close" aria-hidden="true"><span class="glyphicon glyphicon-trash"></span></button>
    <h3>{{title}}</h3>
    <div class="row">
      {{#each tags}}
        <div class="col-md-1">
          <h6><span class="label label-info">{{this}}</span></h6>
        </div>
      {{/each}}
    </div>
    <hr>
  </div>
  <div class="activityContent col-md-12">
    {{#each links}}
      <div class="row">
        <div class="col-md-6" >
          <div class="thumbnail">
            <img src="/letsdoit/images/webThumbs/{{thumbnail}}" alt="{{url}}">
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="activityOptions col-md-12" align="center">
    <button type="button" class="btn btn-default note" data-toggle="tooltip" title="Add Note">
      <span class="glyphicon glyphicon-pencil "></span>
    </button>
    <button type="button" class="btn btn-default url" data-toggle="tooltip" title="Add Link">
      <span class="glyphicon glyphicon-link "></span>
    </button>
    <button type="button" class="btn btn-default tag" data-toggle="tooltip" title="Add Tag">
      <span class="glyphicon glyphicon-tag "></span>
    </button>
    <button type="button" class="btn btn-default schedule" data-toggle="tooltip" title="Schedule Activity">
      <span class="glyphicon glyphicon-calendar "></span>
    </button>
  </div>
</div>
