<div class="row">
  <button type="button" class="close" aria-hidden="true">x</button>
  <label>{{title}}</label>
  <input type="text" class="datePicker"/>
  <button type="button" class="add btn btn-default btn-sm">
    <span class="glyphicon glyphicon-plus"></span> 
  </button>
</div>
<hr>
